@media only screen and (min-width: 76.25em) {
    .md-main__inner {
        max-width: none;
    }
    .md-sidebar--primary {
        left: 0;
    }
    .md-sidebar--secondary {
        right: 0;
        margin-left: 0;
        -webkit-transform: none;
        transform: none;
    }
}

.md-container {
    opacity: 1 !important;
}

@media screen and (min-width: 76.25em) {
    .md-main::before {
        content: "";
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        position: absolute;
        z-index: -99999;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: .05;
        animation: changeBg 600s infinite;
    }
}

@keyframes changeBg {
    0%, 100% {
        background-image: var(--bg1);
    }
    25% {
        background-image: var(--bg2);
    }
    50% {
        background-image: var(--bg3);
    }
    75% {
        background-image: var(--bg4);
    }
}

.md-header { background-color: rgba(14, 20, 24, 0.8) !important; }
.md-tabs { background-color: rgba(14, 20, 24, 0.6) !important; }

@media screen and (min-width: 76.25em) {
    .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
        background: none;
        box-shadow: none;
    }
}

@media screen and (min-width: 60em) {
    .md-nav--secondary .md-nav__title {
        background: none;
        box-shadow: none;
    }
}